DISCORD_TOKEN="" # Discord application token
APP_ID="" # Discord application ID
DISCORD_USER_ID="" # ID of discord user
OSU_CLIENT_ID="" # https://osu.ppy.sh/home/account/edit#oauth <-- create new app
OSU_CLIENT_SECRET="" # same as above
OSU_MODE="" # STD, MANIA, TAIKO, CATCH
OSU_NAME="" # osu! username